/** {*/
/*    font-family: Arial, Verdana, sans-serif !important;*/
/*    color: #000000 !important;*/
/*}*/
/*body {*/
/*    margin: 10px 0px;*/
/*    padding: 0px;*/
/*    background-image: url('http://www.booking.mols-linien.dk/mols/bookingflow/images/fors-bg-rep-rgb1-25-52.jpg') !important;*/
/*    background-repeat: repeat-x !important;*/
/*    background-color: #011934 !important;*/
/*    font-family: Arial, Verdana, sans-serif;*/
/*    font-size: 12px;*/
/*    color: #000000;*/
/*}*/
/**/
/*#epay_content_bottom_content_center*/
/*{*/
/*    width:180px;*/
/*    background:none;*/
/*}*/
/**/
/*#epay_content_bottom_content*/
/*{*/
/*    height:100px;*/
/*    background:none;*/
/*    background-color:#F2F2F2;*/
/*}*/
/**/
/*#epay_main, #epay_header, #epay_content*/
/*{*/
/*    width:300px;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/
/**/
/*.epay_payment_goto, .epay_payment_logos, #epay_main_header, #epay_header_content_right, #epay_main_footer, #epay_content_bottom_language, #epay_content_bottom_bottom, #epay_content_bottom_secure, .info, #epay_header_content_right,#epay_steps*/
/*{*/
/*    display:none !important;*/
/*}*/
/**/
/**/
/*#epay_paymentfooter*/
/*{*/
/*    margin:0;*/
/*}*/
/**/
/*#epay_paymentcollection*/
/*{*/
/*    border-bottom:0;*/
/*    min-height: 450px;*/
/*}*/
/**/
/*.epay_payment_button*/
/*{*/
/*    margin-top:-75px;*/
/*    float:none;*/
/*    border: 0 none;*/
/*    border-radius: 5px;*/
/*    width: 255px;*/
/*    float: none;*/
/*    margin-top: 10px;*/
/*    color: white !important;*/
/*}*/
/**/
/*#epay_paymentinfo*/
/*{*/
/*    height: 40px;*/
/*    padding-bottom:100px;*/
/*}*/
/**/
/*#epay_header_top, #epay_header_bottom, #epay_content_top*/
/*{*/
/*    background:white;*/
/*    border-radius:10px;*/
/*}*/
/**/
/*#epay_notpaymentcard_form table*/
/*{*/
/*    width:280px !important;*/
/*}*/
/**/
/*#epay_notpaymentcard_form table tr td span {*/
/*    */
/*    background:none;*/
/*    background-color:#F2F2F2;*/
/*    border-radius: 6px 6px 6px 6px;*/
/*}*/
/**/
/*#epay_loader*/
/*{*/
/*    width:480px !important;*/
/*}*/
/**/
/*#epay_accept*/
/*{*/
/*    border-bottom:0;*/
/*}*/
/**/
/*#epay_accept_info_right*/
/*{*/
/*    width:281px !important;*/
/*    border-top:1px solid #d6d9dd;*/
/*}*/
/**/
/*.mobilenumber_label*/
/*{*/
/*    width:130px !important;*/
/*}*/
/**/
/*.mobilepayment_error*/
/*{*/
/*    width:255px !important;*/
/*}*/
/**/
/*.mobilepayment_description*/
/*{*/
/*    width:270px !important;*/
/*}*/
/**/
/*#epay_header_bottom*/
/*{*/
/*    background:white;*/
/*    border-radius:0 0 6px 6px;*/
/*}*/
/**/
/*#epay_paymentinfo ul, #epay_paymentinfo_full ul*/
/*{*/
/*    height:90px;*/
/*}*/
/**/
/*#epay_header_top, #epay_content_top*/
/*{*/
/*    border-radius:6px 6px 0 0;*/
/*}*/
/**/
/*#epay_paymentcards_form label*/
/*{*/
/*    width:100%;*/
/*}*/
/**/
/*#epay_paymentcards_form ul li*/
/*{*/
/*    height:100px;*/
/*    margin-top:0;*/
/*    */
/*}*/
/**/
/*#epay_main_content*/
/*{*/
/*    background:none;*/
/*}*/
/**/
/*#epay_main*/
/*{*/
/*    left:0;*/
/*    margin-left:0;*/
/*    padding-left:0;*/
/*    */
/*}*/
/**/
/*#epay_header_content_left*/
/*{*/
/*    width:auto;*/
/*    background:none;*/
/*    margin-left:70px;*/
/*}*/
/**/
/*#epay_paymentfooter_info*/
/*{*/
/*    font-size: 8px;*/
/*}*/
/**/
/*#epay_paymentfooter_right*/
/*{*/
/*    margin-left:-10px;*/
/*}*/
/**/
/*#epay_testmode_message*/
/*{*/
/*    display: none;*/
/*}*/


* {
    font-family: Arial, Verdana, sans-serif !important;
    color: #000000 !important;
}
body {
    margin: 10px 0px;
    padding: 0px;
    background-image: url('http://www.booking.mols-linien.dk/mols/bookingflow/images/fors-bg-rep-rgb1-25-52.jpg') !important;
    background-repeat: repeat-x !important;
    background-color: #011934 !important;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #000000;
}

#epay_content_content
{
    height: 380px;
}

#epay_content{
    margin-top: 0px;
}

#epay_content_bottom_content_center
{
    width:180px;
    background:none;
    font-size: 9px;
}

#epay_content_bottom_content
{
    height:100px;
    background:none;
    background-color:#F2F2F2;
}

#epay_main, #epay_header, #epay_content
{
    width:300px;
    padding-left: 10px;
    padding-right: 10px;
}

#epay_header_content
{
    display: none;
}

#epay_header
{
    display: none;
}

.epay_payment_goto, .epay_payment_logos, #epay_main_header, #epay_header_content_right, #epay_main_footer, #epay_content_bottom_language, #epay_content_bottom_bottom, #epay_content_bottom_secure, .info, #epay_header_content_right,#epay_steps
{
    display:none !important;
}

.epay_payment_button
{
    margin-top:-75px;
    float:none;
    border: 0 none;
    border-radius: 5px;
    width: 255px;
    float: none;
    margin-top: 10px;
    color: white !important;
}

#epay_paymentinfo
{
    height: 40px;
    /* padding-bottom: 100px; */
    /* margin-top: 15px; */
}

#epay_header_top, #epay_header_bottom, #epay_content_top
{
    background:white;
    border-radius:10px;
}

#epay_notpaymentcard_form table
{
    width:280px !important;
}

#epay_notpaymentcard_form table tr td span {
    
    background:none;
    background-color:#F2F2F2;
    border-radius: 6px 6px 6px 6px;
}

#epay_loader
{
    width:480px !important;
}

#epay_accept
{
    border-bottom:0;
}

#epay_accept_info_right
{
    width:281px !important;
    border-top:1px solid #d6d9dd;
}

.mobilenumber_label
{
    width:130px !important;
}

.mobilepayment_error
{
    width:255px !important;
}

.mobilepayment_description
{
    width:270px !important;
}

#epay_header_bottom
{
    background:white;
    border-radius:0 0 6px 6px;
}

#epay_paymentinfo ul, #epay_paymentinfo_full ul
{
    height:90px;
}

#epay_header_top, #epay_content_top
{
    border-radius:6px 6px 0 0;
}

#epay_paymentcards_form label
{
    /* width: 100% */
}

#epay_paymentcards_form
{
    float: left;
    width: 265px;
    min-height: 150px
}

#epay_paymentcollection
{
    border-bottom:0;
    min-height: 250px;
}

#epay_paymentcollection label
{
    width: 80px;
    float: left;
    height: 36px;
    line-height: 36px;
    color: #606060;
    font-family: 'LucidaGrandeBold', 'Helvetica Neue', 'Segoe UI', Arial, Helvetica, Verdana, sans-serif
}

#epay_paymentcards_form ul li
{
    height:50px;
    margin-top:0;
    
}

#epay_paymentcollection input[type='text'], #epay_paymentcollection input[type='tel']
{
    height: 29px;
    border: 0;
    width: 120px;
    float: right;
    padding-left: 9px;
    /* padding-right: 9px; */
}

.epay_expmonth_input
{
    width: 30px !important;
}

.epay_expyear_input
{
    width: 30px !important;
}

#epay_exp_seperator
{
    line-height: 36px;
    float: right;
    width: 30px;
    text-align: center
}

#epay_cvc_help{
    float: left;
    margin-left: -25px !important;
    margin-top: 4px;
}


#epay_main_content
{
    background:none;
}

#epay_main
{
    left:0;
    margin-left:0;
    padding-left:0;
    
}

#epay_header_content_left
{
    width:auto;
    background:none;
    margin-left:70px;
}

#epay_paymentfooter
{
    margin: 0;
    background: none;
    min-height: 50px
    padding: 10px 35px 15px 15px !important;
}

#epay_paymentfooter_info
{
    background:none;
    font-size: 7px;
}

#epay_paymentfooter_right
{
    margin-left:-10px;
}

#epay_testmode_message
{
    display: none;
/*}*/